<div class="wrapper">
  <h2 i18n="@@system">{{'Sign Up to the system' | translate}}</h2>
  <div class="main">
    <form class="form" [formGroup]="LoginForm">
      <div class="name">
        <input type="text" class="lastname" formControlName="name" placeholder="{{'Name' | translate}}" [ngClass]="{ 'is-invalid':(submittedschool && formRecordControls['name'].errors) ||
          (formRecordControls['name'].touched && formRecordControls['name'].invalid) }" required>
        <div class="validation" *ngIf="
          (submittedschool &&
            formRecordControls['name'].errors) ||
          (formRecordControls['name'].touched &&
            formRecordControls['name'].invalid)
           " class="invalid-feedback">
          <div *ngIf="formRecordControls['name'].errors?.['required']">
            {{'Please write a valid name.' | translate}}
          </div>
        </div>
      </div>
      <div class="username">
        <input type="text" class="username" formControlName="username" placeholder="{{'username' | translate}}"
          [ngClass]="{ 'is-invalid':(submittedschool && formRecordControls['username'].errors) ||
              (formRecordControls['username'].touched && formRecordControls['username'].invalid) }"
          i18n-placeholder="username" requiredi18n-placeholder="password" required>
        <div class="validation" *ngIf="
            (submittedschool &&
              formRecordControls['username'].errors) ||
            (formRecordControls['username'].touched &&
              formRecordControls['username'].invalid)
             " class="invalid-feedback">
          <div *ngIf="formRecordControls['username'].errors?.['required']">
            {{'Please write a valid username.' | translate}}
          </div>
        </div>
      </div>
      <div class="email">
        <input type="email" class="email" formControlName="email" placeholder="{{'Email' | translate}}" [ngClass]="{ 'is-invalid':(submittedschool && formRecordControls['email'].errors) ||
          (formRecordControls['email'].touched && formRecordControls['email'].invalid) }" required>
        <div class="validation" *ngIf="
          (submittedschool &&
            formRecordControls['email'].errors) ||
          (formRecordControls['email'].touched &&
            formRecordControls['email'].invalid)
           " class="invalid-feedback">
          <div *ngIf="formRecordControls['email'].errors?.['required']">
            {{'Please write a valid email.' | translate}}
          </div>
        </div>
      </div>
      <div class="password">
        <input type="password" class="password" formControlName="password" placeholder="{{'password' | translate}}"
          [ngClass]="{ 'is-invalid':(submittedschool && formRecordControls['password'].errors) ||
        (formRecordControls['password'].touched && formRecordControls['password'].invalid) }"
          i18n-placeholder="password" required>
        <div class="validation" *ngIf="
      (submittedschool &&
        formRecordControls['password'].errors) ||
      (formRecordControls['password'].touched &&
        formRecordControls['password'].invalid)
       " class="invalid-feedback">
          <div *ngIf="formRecordControls['password'].errors?.['required']">
            {{'Please write a valid password.' | translate}}
          </div>
          <div *ngIf="formRecordControls['password'].errors?.['minlength']">
            {{ "validation.minimumFour" | translate }}
          </div>
        </div>
      </div>
      <button class="submit" [disabled]="!LoginForm.valid"  (click)="loginUser()" type="submit" i18n="@@login">
        {{'Sign up'|translate}}
      </button>
      <div class="translate">
        <button class="btn btn-light">en</button>
        <button class="btn btn-light">Ar</button>
      </div>
    </form>
  </div>
</div>