.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    /* overflow: hidden; */
    position: relative;
    background-color: rgb(166, 193, 194);
    overflow: hidden;


    h2 {
        font-size: 1.5em;
    }

    .main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        z-index: 2;

        .form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 30%;

            input {
                border: 1px solid #ddd;
                padding: 10px;
                margin-bottom: 25px;
                border-radius: 15px;
                outline: none;
                transition: 0.3s ease-in-out;

                &:focus {
                    border: 2px solid #555;
                }
            }
            
            .name {
                position: relative;

                input {
                    width: 100%;
                }
            
            }

            .username {
                position: relative;

                input {
                    width: 100%;
                }
            
            }
            
            .email {
                position: relative;

                input {
                    width: 100%;
                }
            
            }
            .password {
                position: relative;

                input {
                    width: 100%;
                }
            }
            .validation {
                position: absolute;
                color: red;
                bottom: 0;
                padding: 5px;
            }
            .remember-me {
                width: 100%;

                input {
                    margin-bottom: 10px;
                }

                label {
                    width: 100%;
                    padding: 7px;
                }
            }
            .submit{
                background-color: blue;
                color: white;
                padding: 7px;
                border: 0px;
                border-radius: 15px;
            }
            .translate {
                border: 0px;
                margin: auto;
                margin-top: 20px;
                padding: 10px;
                border-radius: 15px;
                color: rgb(48, 48, 48);
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                button{
                    margin-right: 7px;
                }
            }
        }
    }
 
}
